
.blink{
    animation: blinking-anim 1s step-end infinite;
}

@mixin animation-theme($theme){
    $header-color: map-get($theme, "header-color");

    @keyframes blinking-anim{
        from, to{ background-color: transparent; }
        50%{ background-color: transparentize($header-color, 0.8); }
    }
}
