

@mixin home-theme($theme){
    $accent: map-get($theme, "accent");

    #warning-message{
        margin-top: 46px;
    }

    #about-section{
        div{
            margin-top: 32px;

            p{
                margin-left: 32px;
                border-left: 1px solid $accent;
                padding-left: 16px;
                transition-duration: 250ms;
            }

            @media(max-width: 850px){
                p{ margin-left: 16px; }
            }

            @media(max-width: 750px){
                p{ margin-left: 0 }
            }

            @media(max-width: 410px){
                p{ margin-left: 0; padding-left: 0; border: none;}
            }
        }
    }
}
